*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  flex: 0 0 auto;
}
img{
  max-width: 100%;
}
li{
  list-style: none;
}
a , a:hover{
  text-decoration: none;
}
.flex{
  
  display: flex;
  flex-wrap: wrap;
}
.container{
  
width: 1200px;
  
margin: auto;
}
.col-4{
  
}
.col-3{
  
}
h1{
    font-size: 75px;
    padding-right: 30px;
    line-height: 1;
    margin: 20px 0px;
}
h1 span{
    color: #21b573 !important;
    font-size: 75px !important;
    letter-spacing: 1px !important;
}
p{}

/* Banner-Section */
.banner-section{
    background: #F0FFF0;
}
header{
    padding: 25px 0px;
}
.logo{
    width: 15%;
}
.logo a{}
.logo a img{}

nav{
    width: 85%;
}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #413960;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    transition-duration: 0.3s;
}
nav ul li a:hover{
    background: #21B573;
    color: #fff;
}

.banner-content{
    width: 50%;
}
.banner-content span{
    color: #FD4A11;
    font-size: 20px;
    letter-spacing: 2px;
}
.btn{}
.btn:hover{}
.banner-img{
    width: 50%;
}
.banner-img img{}

/***** Feature section *****/
.feature-section{}
.feature{}
.feature:hover{}
.feature img{}
.feature h3{}
.feature p{}

/***** Course section *****/
.course-section{}
.course{}
.course img{}
.course h3{}
.course span{}
.course ul{}
.course ul li{}
.course ul li i{}

/***** testimonial-section *****/
.testimonial-section{}
.client-image{}
.client-image img{}
.client-content{}
.client-content p{}

/***** Footer *****/
footer{}
footer p{}
footer ul{}
footer ul li{}
footer ul li strong{}
footer ul li a{}
footer ul li a:hover{}

.copyright{}
.copyright a{}
.copyright a:hover{}











